{% extends "layout.html" %}
{% set title = _('Overview') %}
{% block body %}
  <h1>{{ _('Welcome') }}</h1>

  <div class="quotebar">
    <p><em>{%trans%}Orville Wright:{%endtrans%}</em></p>
    <p>{%trans%}&#8220;The exhilaration of flying is too keen, the pleasure too great, for it to be neglected as a sport.&#8220;{%endtrans%}</p>
  </div>

  <p>{%trans%}
    The Heart of America Free Flight Association is a group of modelers who specialize in building and flying free flight airplanes. Most club members focus on rubber powered events and hand-launch glides, but we welcome all kinds of modelers. The official club website is at http://flyhaffa.com{%endtrans%}</p>

  <h2 style="margin-bottom: 0">{%trans%}Documentation{%endtrans%}</h2>

  <table class="contentstable">
    <tr>
      <td>
        <p class="biglink"><a class="biglink" href="{{ pathto("usage/quickstart") }}">{%trans%}Getting started{%endtrans%}</a><br/>
           <span class="linkdescr">{%trans%}overview of basic tasks{%endtrans%}</span></p>
      </td><td>
        {%- if hasdoc('search') %}<p class="biglink"><a class="biglink" href="{{ pathto("search") }}">{%trans%}Search page{%endtrans%}</a><br/>
           <span class="linkdescr">{%trans%}search the documentation{%endtrans%}</span></p>{%- endif %}
      </td>
    </tr><tr>
      <td>
        <p class="biglink"><a class="biglink" href="{{ pathto("contents") }}">{%trans%}Contents{%endtrans%}</a><br/>
           <span class="linkdescr">{%trans%}for a complete overview{%endtrans%}</span></p>
      </td><td>
        {%- if hasdoc('genindex') %}<p class="biglink"><a class="biglink" href="{{ pathto("genindex") }}">{%trans%}General Index{%endtrans%}</a><br/>
           <span class="linkdescr">{%trans%}all functions, classes, terms{%endtrans%}</span></p>{%- endif %}
      </td>
    </tr><tr>
      <td>
        <p class="biglink"><a class="biglink" href="{{ pathto("changes") }}">{%trans%}Changes{%endtrans%}</a><br/>
           <span class="linkdescr">{%trans%}release history{%endtrans%}</span></p>
      </td><td>
      </td>
    </tr>
  </table>

{% endblock %}
